.fakestore_header {
  height: 4rem;
  color: var(--primary-color);
  background: linear-gradient(
    to bottom,
    var(--primary-color-100) 0%,
    var(--primary-color-200) 50%,
    var(--primary-color) 51%,
    var(--primary-color-300) 100%
  );
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

.fakestore_header h1 {
  margin: 0;
  color: var(--secondary-color);
  font-size: 2.5rem;
}

.fakestore_header a {
  display: flex;
  text-decoration: none;
}

.fakestore_header svg {
  color: #FFF;
  fill: #FFF;
}
